<body>
  <div class="container">
    <div class="row mt-4">
    </div>
    
    {{#each post}}
        {{> display/comment}}  
    {{/each}}
    
    <div class="row mt-4"> 
      <div class="col s12">
        <ul class="collection comments_list">
          {{#each comments}}
              {{> list-items/comments}}  
          {{/each}}
          
        </ul>
      </div>

    </div>

<h4 class="col s12">User comments below</h4>

<div class="row">
  <div class="col s12">
    <form action="/api/comments/" method="post">
      <div class="row">
        <div class="input-field col s8">
          <textarea id="comment-input" name="user_comment" class="textarea" data-length="120"></textarea>
          <label for="comment-input">Comment</label>
        </div>
        <div class="input-field col s8">
          <input value="{{id}}" name="post_id" id="disabled" type="text" class="validate">
          <label for="user-input">Write Your User ID</label>
          <label for="disabled"></label>
        </div>


        <div class="row">
        <div class="input-field">
          <button class="btn btn-success" type="submit" name="action">Submit
          </button>
        </div> 
      </div>

      </div> 
      

  <div class="row mt-4">
    <div class="col s2 offset-s10">
      <a href="/" class="btn">back</a>
    </div>
  </div>
    
  </div>
</body>