<li class="collection">
  <div class="row">
    <div class="col s8">
      <span class="title">{{user_id}}: </span>
      <span>{{text}}</span>
      <p>Date</p>
      <p>{{_id}}</p>
        
      
    </div>
    <div class="col s2 offset-s2">
      <form action="/api/comments/delete/{{_id}}" method="get">
        <button class="btn btn-danger" type="submit" name="action">X</button>
      </form>

    </div>
    

  </div>
  
</li>