<li>
  <div class="container-fluid">
  <div class="card" style="width: 35rem;">
    <div class="card-body">
      <div class="card-header">
    {{title}}
  </div>
      <span class="card-text"></span>
      <p>{{sneakpeak}}</p>
      
    </div>
    <div class="card-action">
      <a href="{{url}}">Source</a>
      
      <a href="/comments/{{id}}"><class="comment">comment</a> 
   
  </div>
   </div>
</li>